/CodingFun/Algorithms4th/obj
/CodingFun/Algorithms4th/bin
/CodingFun/TestResults
/CodingFun/UnitTests/obj
/CodingFun/UnitTests/bin
/CodingFun/packages
/CodingFun/CommandLineCenter/obj
/CodingFun/CommandLineCenter/bin
/CodingFun/.vs/CodingFun/v15/*.suo
/CodingFun/.vs/CodingFun/v15/Server/sqlite3
